/* CSS für playerorigin.js ----------------------------------------------------------------------------------------------------------------------------------------- */

/* Kartenstyling *********************************************************************/
/* CSS für die Karte */
.playerorigin_map {
  position: absolute;
  top: 80px; /* Höhe der AppBar */
  left: 0;
  width: 70%;
  height: calc(100% - 80px);
  padding: 0px;
  background-color: #add2de;
}

/* CSS für die Legende */
.playerorigin_legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* CSS für die Liste in der Legende */
.playerorigin_legend ul {
    list-style-type: none;
    padding: 0;
}

/* CSS für die Elemente in der Liste der Legende */
.playerorigin_legend ul li {
    margin-bottom: 5px;
}

/* CSS für die Farbkästchen in der Legende */
.playerorigin_legend-color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid #000000;
}

/* CSS für den Text neben den Farbkästchen */
.playerorigin_legend-text {
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
}

/* CSS für die Überschrift der Legende */
.playerorigin_legend h3 {
    margin-top: 0;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}


/* Hover-Styling für die Karte */
.playerorigin_map:hover {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: "Roboto", sans-serif;
    font-weight: bold; /* Schrift fett machen */
}

/* Popups und Tabellen ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* CSS für die Tabelle */
.playerorigin_table {
    position: absolute;
    top: 80px; /* Höhe der AppBar*/
    right: 0;
    width: 30%;
    height: calc(100% - 80px);
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: -4px 1px 4px rgba(0, 0, 0, 0.055);
    z-index: 2;
  }

  /* CSS für die Tabellenüberschrift */
  .playerorigin_table table {
    width: 100%;
    border-collapse: collapse;
  }

  .playerorigin_table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    cursor: pointer;
  }

  .playerorigin_table th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }

  /* CSS für Hover-Effekt über die Zeilen der Tabelle */
  .playerorigin_table tbody tr:hover {
    background-color: #f7da00;
    color: #28487d;
  }

  /* CSS für die Tabellenüberschrift */
  .playerorigin_table-caption {
    caption-side: bottom;
    text-align: left;
    font-weight: condensed;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 14px;
    padding-top: 30px;
  }