.map-c {
    position: absolute;
    top: 80px; /* Höhe der AppBar plus ein bisschen Platz */
    left: 0;
    width: 100vw; /* Breite als 70% der Viewport-Breite */
    height: calc(100% - 80px); /* Höhe der AppBar abziehen */
    padding: 20px; /* Padding beibehalten */
    box-sizing: border-box; /* Padding in die Breite und Höhe mit einbeziehen */
    background-color: #add2de;
}



.legend {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.legend h3 {
    margin-top: 0;
}

.legend ul {
    list-style-type: none;
    padding: 0;
}

.legend ul li {
    margin-bottom: 5px;
}
