/* CSS für die Karte */
.squadoverview_map {
    position: absolute;
    top: 80px; /* Höhe der AppBar plus ein bisschen Platz */
    left: 0;
    width: 40%;
    height: calc(100% - 80px); /* Höhe der AppBar abziehen */
    padding: 20px
  }
  
/* CSS für die Spieler-Tabelle */
.squadoverview_table {
    position: absolute;
    top: 80px; /* Höhe der AppBar plus ein bisschen Platz */
    right: 0;
    width: 60%;
    height: calc(100% - 80px); /* Höhe der AppBar abziehen */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Scrollen, falls die Tabelle zu groß wird */
  }
  
  .squadoverview_table h2 {
    margin-bottom: 10px;
  }
  
  .squadoverview_table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .squadoverview_table th,
  .squadoverview_table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
  }

  /* CSS für Hover-Effekt über die Zeilen der Tabelle */
  .squadoverview_table tbody tr:hover {
    background-color: #f7da00;
}
  

  /* CSS für die Tabellenüberschrift */
  .squadoverview_table-caption {
    font-family: Arial, sans-serif;
    caption-side: top;
    text-align: left;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 20px;
  }
  
