/* CSS für startpage.js ------------------------------------------------------------------------- */

/* CSS für die Karte */
.map-container {
  position: absolute;
  top: 80px; /* Höhe der AppBar plus ein bisschen Platz */
  left: 0;
  width: 70%;
  height: calc(100% - 80px); /* Höhe der AppBar abziehen */
  padding: 20px
}

/* CSS für das Popup */
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  max-width: auto; /* Dynamische Breite */
  white-space: nowrap; /* Keine Zeilenumbrüche */
  overflow: hidden; /* Textbeschränkung */
}

/* Clubname fett */
#popup-content strong {
  font-weight: bold;
}


/* CSS für die Tabelle */
.table-container-custom {
  position: absolute;
  top: 80px; /* Höhe der AppBar plus ein bisschen Platz */
  right: 0;
  width: 30%;
  height: calc(100% - 80px); /* Höhe der AppBar abziehen */
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

/* CSS für die Tabellenüberschrift */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial, sans-serif; 
  font-size: 14px
}

/* CSS für Hover-Effekt über die Liga-Tabelle */
tr:hover {
  background-color: #f2f2f2;
}