/* CSS für startpage.js ------------------------------------------------------------------------- */

/* CSS für die Karte */
.startpage_map {
  position: absolute;
  top: 80px; /* Höhe der AppBar plus ein bisschen Platz */
  left: 0;
  width: 70%;
  height: calc(100% - 80px); /* Höhe der AppBar abziehen */
  padding: 20px;
}

/* CSS für das Popup */
.startpage_popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  max-width: auto; /* Dynamische Breite */
  white-space: nowrap; /* Keine Zeilenumbrüche */
  overflow: hidden; /* Textbeschränkung */
}

/* CSS für die Tabelle */
.startpage_table {
  position: absolute;
  top: 80px; /* Höhe der AppBar plus ein bisschen Platz */
  right: 0;
  width: 30%;
  height: calc(100% - 80px); /* Höhe der AppBar abziehen */
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

/* CSS für die Tabellenüberschrift */
.startpage_table table {
  width: 100%;
  border-collapse: collapse;
}

.startpage_table th,
.startpage_table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: pointer; /* Maus ändert sich zu einer Hand */
}

/* CSS für Hover-Effekt über die Zeilen der Tabelle */
.startpage_table tbody tr:hover {
  background-color: #f7da00;
}

/* CSS für die Tabellenüberschrift */
.startpage_table-caption {
  font-family: Arial, sans-serif;
  caption-side: top;
  text-align: left;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding: 20px;
}