/* CSS für transferhistory.js ------------------------------------------------------------------------- */

/* CSS für die Karte */
.map_transferhistory {
  position: absolute;
  top: 80px; /* Höhe der AppBar */
  left: 0;
  width: 70%; /* Breite der Karte */
  height: calc(100% - 80px); /* Höhe der AppBar abziehen */
  padding: 0px;
}

/* CSS für die Tabelle */
.transferhistory_table {
  position: absolute;
  top: 80px; /* Höhe der AppBar plus ein bisschen Platz */
  right: 0;
  width: 30%; /* Breite der Tabelle */
  height: calc(100% - 80px); /* Höhe der AppBar abziehen */
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2; /* Stellen Sie sicher, dass die Tabelle über der Karte liegt */
  cursor: pointer
}

/* CSS für die Tabellenüberschrift */
.transferhistory_table table {
  width: 100%;
  border-collapse: collapse;
}

.transferhistory_table th,
.transferhistory_table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/* CSS für Hover-Effekt über die Tabelle */
.transferhistory_table tbody tr:hover {
  background-color: #f7da00;
}
