/* CSS für transferhistory.js ------------------------------------------------------------------------- */

/* CSS für die Karte */
.map_transferhistory {
  position: absolute;
  top: 80px; /* Höhe der AppBar */
  left: 0;
  width: 55%;
  height: calc(100% - 80px);
  padding: 0px;
}

.transferhistory_backbutton {
  position: absolute;
  transform-origin: top right;
  top: 10px;
  right: 10px;
  background-color: #28487d;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  z-index: 1000;
}

/* CSS für die Legende */
.transferhistory_legend {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* CSS für die Liste in der Legende */
.transferhistory_legend ul {
  list-style-type: none;
  padding: 0;
}

/* CSS für die Elemente in der Liste der Legende */
.transferhistory_legend ul li {
  margin-bottom: 5px;
}

/* CSS für die Farbkästchen in der Legende */
.transferhistory_legend-color-box {
  display: inline-block;
  width: 30px;
  height: 4px;
  margin-right: 5px;
  vertical-align: middle;
}

/* CSS für den Text neben den Farbkästchen */
.transferhistory_legend-text {
  display: inline-block;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 5px;
}

/* CSS für die Überschrift der Legende */
.transferhistory_legend p {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.transferhistory_backbutton:hover {
  background-color: #f7da00;
  color: #28487d;
}

/* CSS für die Tabelle */
.transferhistory_table {
  position: absolute;
  top: 40px;
  right: 0;
  width: 45%;
  height: calc(100% - 80px);
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
  box-shadow: -4px 1px 4px rgba(0, 0, 0, 0.055);
}

/* CSS für die Tabellenüberschrift */
.transferhistory_table table {
  width: 100%;
  border-collapse: collapse;
}

.transferhistory_table th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.transferhistory_table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

/* Standardzeilenstil */
.table-row {
  background-color: white;
}

/* Stil für ausgewählte Zeile */
.selected-row {
  background-color: #f7da00;
  color: #28487d;
}

/* CSS für Hover-Effekt über die Zeilen der Tabelle */
.transferhistory_table tbody tr:hover {
  background-color: #f7da00;
  color: #28487d;
}

/* CSS für die Tabellenüberschrift */
.transferhistory_table-caption {
  caption-side: bottom;
  text-align: left;
  font-weight: condensed;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 14px;
  padding-top: 30px;
}