/* CSS für transferhistory.js ------------------------------------------------------------------------- */

/* CSS für die Karte */
.map_transferhistory {
  position: absolute;
  top: 90px; /* Höhe der AppBar */
  left: 10px;
  width: 70%; /* Breite der Karte */
  bottom: 20px;
  height: calc(100% - 90px); /* Höhe der AppBar abziehen */
  padding: 0;
  z-index: 0; /* Stellen Sie sicher, dass die Karte hinter anderen Elementen liegt */
}

/* CSS für die Tabelle */
.table-container-custom {
  position: absolute;
  top: 80px; /* Höhe der AppBar plus ein bisschen Platz */
  right: 0;
  width: 30%; /* Breite der Tabelle */
  height: calc(100% - 80px); /* Höhe der AppBar abziehen */
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2; /* Stellen Sie sicher, dass die Tabelle über der Karte liegt */
}

/* CSS für die Tabellenüberschrift */
table.table_transferdata {
  width: 100%;
  border-collapse: collapse;
}

table.table_transferdata th,
table.table_transferdata td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/* CSS für Hover-Effekt über die Tabelle */
table.table_transferdata tbody tr:hover {
  background-color: #f2f2f2;
}

/* CSS für Club-Logo */
.club-logo {
  max-width: 50px;
  max-height: 50px;
}
